:root {
  --black: #2b292d;
}

.active {
  border-bottom: 6px solid #ffa74e;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilmer-Font", sans-serif;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-con {
  width: 68%;
  height: 16vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-list li {
  margin-left: 35px;
}

.nav-list a {
  color: var(--black);
  font-size: 20px;
  text-decoration: none;
  transition: color ease-in 0.1s;
  padding: 8px 10px;
}

.nav-list a:hover {
  color: orangered;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 200px;
}

.content-con {
  width: 60%;
  display: flex;
  padding: 50px;
  padding-bottom: 220px;
}

.content-left {
  width: 50%;
  color: var(--black);
}

.content-left h3 {
  font-size: 76px;
  letter-spacing: -1px;
  text-shadow: 1px 1px 0 #eeba86, 2px 2px 0 #eeba86, 3px 3px 0 #eeba86;
  margin: 0;
}

.content-left p {
  font-size: 24px;
}

.content-left-list {
  font-size: 21px;
  padding-bottom: 30px;
}

.content-li {
  margin-top: 10px;
}

.content-li-span {
  font-weight: bold;
}

.content-button {
  font-size: 19px;
  color: white;
  background-color: #3041c4;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  transition: background ease-in 0.1s;
  position: relative;
}

.content-button:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -8px;
  right: -7px;
  width: 100%;
  height: 100%;
  background-color: #fcbd70;
  background-image: linear-gradient(90deg, #fcbd70 0%, #fc9370 100%);
  border-radius: 0.25rem;
}

.content-button:hover {
  background-color: #26339b;
}

.content-right {
  width: 50%;
  display: flex;
  align-items: center;
}

.apps-con {
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.apps-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apps-header h2 {
  font-size: 50px;
  font-weight: 900;
  color: var(--black);
  margin: 0;
}

.apps-header > p {
  font-size: 32px;
  opacity: 0.45;
  margin-top: 10px;
  margin-bottom: 60px;
  font-weight: 700;
}

.apps-examples {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.app {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.app img {
  width: 340px;
  height: 223px;
}

.app > p {
  font-size: 12px;
  align-self: flex-end;
  margin: 0 10px 10px 0;
  color: rgb(0, 0, 0, 0.45);
}

.app > p span {
  text-decoration: underline;
  color: rgb(0, 0, 0, 0.45);
  transition: opacity 0.2s, color 0.2s;
}

.app > p span:hover {
  color: #3041c4;
  cursor: pointer;
  opacity: 1;
}

.app h4 {
  font-size: 24px;
  color: var(--black);
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 15px;
}

.apps-links {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.apps-links a {
  text-decoration: none;
  color: #26339b;
  font-size: 18px;
  font-weight: 700;
  opacity: 0.9;
  transition: opacity 0.2;
}

.apps-links a img {
  margin-left: 5px;
  height: 16px;
  width: 16px;
}

.apps-links a:hover {
  opacity: 1;
}

.loophole-image {
  padding-top: 150px;
  display: flex;
  justify-content: center;
}

.loophole-image img {
  width: 85%;
  height: 85%;
}

.newsletter-con {
  padding: 250px 0 150px;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.news-left {
  margin: 10px 0;
}

.news-right {
}

.newsletter-con h3 {
  font-size: 42px;
  color: var(--black);
  font-weight: 900;
  text-decoration: none solid rgb(43, 41, 45);
  font-family: Gilmer-Font, sans-serif;
  margin: 0;
}

.newsletter-con h4 {
  font-size: 22px;
  font-weight: 400;
  opacity: 0.85;
  margin: 15px 0 15px;
}

.email-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 540px;
  height: 70px;
}

.email-input input {
  width: 350px;
  border: none;
  height: 25px;
  padding: 10px;
}

.email-input input::placeholder {
  font-size: 18px;
  opacity: 0.7px;
}

.email-input input:focus {
  outline: 1px solid #3041c4;
  border-radius: 5px;
  transition: outline ease-in 0.2s;
}

.email-input button {
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 30px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  border: none;
  background-color: #3041c4;
  border-radius: 4px;
  transition: background ease-in 0.1s;
}

.email-input button:hover {
  cursor: pointer;
  background-color: #26339b;
}

.news-left p {
  font-size: 14px;
  color: rgba(43, 41, 45, 0.6);
  margin-top: 0;
}

.communities-con {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.communities-top {
  padding: 30px;
}

.communities-top p {
  color: #97816f;
  font-size: 36px;
  font-weight: 700;
}

.communities-links {
  display: flex;
  justify-content: space-between;
}

.communities-links a,
button {
  padding: 20px 70px;
}

.communities-links button {
  border: none;
  outline: none;
}

.communities-links button:hover {
  cursor: pointer;
}

/* Footer */

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 200px;
  color: var(--black);
}

.footer-con {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.footer-left {
  width: 30%;
}

.footer-left {
  font-size: 18px;
}

.footer-left p {
  opacity: 0.6;
  padding-top: 10px;
}

.footer-middle {
  width: 25%;
}

.footer-right {
  width: 25%;
}

.footer-list {
  list-style-type: none;
}

.footer-li {
  font-size: 18px;
  opacity: 0.6;
  padding-bottom: 15px;
  transition: opacity 0.2s, color 0.2s;
  cursor: pointer;
}

.footer-li:hover {
  color: #3041c4;
  opacity: 1;
}

.first-li {
  color: var(--black);
  font-size: 22px;
  font-weight: 700;
  opacity: 1;
  padding-bottom: 25px;
}

.first-li:hover {
  color: var(--black);
  cursor: auto;
}
